<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top footer fixed-bottom"
  >
    <div class="col-md-4 d-flex align-items-center">
      <img src="assets\img\LOGO_BW_64_64.png" alt="Spine" width="23" height="18" class="d-none d-lg-block" />
      <span class="mb-3 mb-md-0 text-muted"
        >&ensp;© 2022 <a href="https://spine.ngo">Spine</a> — Een onderdeel van
        <a href="https://www.fier.nl">Fier</a></span
      >
    </div>

    <div class="nav col-md-4 justify-content-end list-unstyled d-none d-lg-flex">
      <span class="mb-3 mb-md-0 text-muted"
        >
        <a href="https://www.spine.ngo/contact/">Contact</a>&ensp;|&ensp;<a href="https://www.spine.ngo/privacy-policy/"
          >Privacy policy</a
        ></span
      >
    </div>
  </footer>
</div>
