@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.card-login-img{
  //background: #0e1922 url("../../assets/img/LOGO-SPINE-DARK-BG.png") no-repeat center / 50%;
  //TODO Make it possible to use the variables from styles.scss. Problem when using importing/use with styles.scss bootstrap necks itself.
  //background-color: styles.$primary;
  background-color: #0e1922;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/LOGO-SPINE-DARK-BG.png");
  background-size: 15rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
