<div [formGroup]="form" class="form-question col-md-12">
  <label [attr.for]="question.key" class="form-label">{{
    question.label
  }}</label>
  <div [ngSwitch]="question.controlType">
    <input
      class="form-control"
      *ngSwitchCase="'textbox'"
      [formControlName]="question.key"
      [id]="question.key"
      [type]="question.type"
    />
    <small *ngSwitchCase="'textbox'" class="form-text text-muted"
      >Deze informatie wordt nooit opgestuurd.</small
    >

    <textarea
      class="form-control"
      *ngSwitchCase="'textarea'"
      [formControlName]="question.key"
      [id]="question.key"
    ></textarea>


    <div *ngSwitchCase="'dropdown'">
      <select
        class="form-select"
        [id]="question.key"
        [formControlName]="question.key"
        *ngIf="question.options && question.options.length > 1"
      >
        <option value="" disabled selected>Selecteer een optie</option>
        <option *ngFor="let opt of question.options" [value]="opt.key">
          {{ opt.value }}
        </option>
      </select>

      <input 
      class="form-control"
      [formControlName]="question.key"
      [id]="question.key"
      [type]="question.type"
      *ngIf="question.options && question.options.length == 1" />
    </div>
  </div>
</div>