<router-outlet></router-outlet>
<app-navigation></app-navigation>
<app-toasts></app-toasts>
<div
  *ngIf="questionnaire$ && questions$"
  class="container container-top-margin"
>
  <h2>Invullen vragenlijst</h2>
  <hr/>
  <h3>{{ questionnaire$.name }}</h3>
  <p>
    Auteur: {{ questionnaire$.author.name }} -
    {{ questionnaire$.author.organization }}
  </p>
  <app-entry-form #form [questions]="questions$ | async"></app-entry-form>
  <button
    id="submitBtn"
    [disabled]="submitBtnDisabled"
    type="button"
    class="btn btn-primary"
    (click)="onSubmit()"
  >

  <span *ngIf="loading" class="spinner-grow" role="status"></span>
  <div *ngIf="!loading">
    <i class="bi bi-cloud-arrow-up-fill"></i>
    Opslaan en versturen
  </div>

  </button>
</div>
