<router-outlet></router-outlet>
<app-navigation></app-navigation>
<app-toasts></app-toasts>
<div
  *ngIf="questionnaire$ && questions$"
  class="container container-top-margin"
>
  <h2>Invullen vragenlijst</h2>
  <hr/>
  <h3>{{ questionnaire$.name }}</h3>
  <p>
    <b>Auteur: </b>{{ questionnaire$.author.name }}<br>
    <b>Organisatie: </b>{{ questionnaire$.author.organization }}
  </p>
  <app-entry-form #form [questions]="questions$"></app-entry-form>
  <br>
  <button
    id="submitBtn"
    [disabled]="submitBtnDisabled"
    type="button"
    class="btn btn-primary"
    (click)="onSubmit()"
  >
  <i class="bi bi-cloud-arrow-up-fill"></i>
    Opslaan en versturen
  </button>
</div>
