<div class="container">
  <button class="btn btn-outline-primary" type="button">Terug</button>
  <h1>Creëer een vragenlijst</h1>
  <div class="form-group">
    <label for="questionnaireName">Naam vragenlijst</label>
    <input type="text" class="form-control" id="questionnaireName" placeholder="Naam vragenlijst">
  </div>
  <form>
    <div class="form-group">
      <label for="question">Titel</label>
      <input type="text" class="form-control" id="question" placeholder="Titel">
    </div>
    <pre></pre>
    <div class="form-group">
      <label for="questionnaireDescription">Beschrijving</label>
      <input type="text" class="form-control" id="questionnaireDescription" placeholder="Beschrijving">
      </div>
    <pre></pre>
    <div class="form-group">
      <label for="questionnaireQuestions">Vraag</label>
      <input type="text" class="form-control" id="questionnaireQuestions" placeholder="Vul de vraag in">
    <div class="pull-right">
        <button (click)="vraagVerwijderen()" type="button" class="btn btn-danger">Vraag verwijderen</button>
    </div>
      <div class="container mt-5">
        <select class="form-control" id="questionnaireType">
          <option value="1">Open vraag</option>
          <option value="2">Gesloten vraag</option>
        </select>
      </div>
    </div>
      <button type="button" class="btn btn-primary">Creëer vragenlijst</button>
      <button (click)="vraagToevoegen()" type="button" class="btn btn-success">Vraag toevoegen</button>
      <button type="button" class="btn btn-success">Segment toevoegen</button>
  </form>
</div>

