<nav class="navigation__nav">
  <div class="navigation__nav__list">
    <a
      routerLinkActive="active"
      routerLink="/questionnaires"
      class="navigation__nav__list__item navigation__nav__list__item__link"
      [ngClass]="{ activeRoute: getRoute() == 'questionnaires' }"
      ><i class="bi bi-list-ol vAlignIcon"></i>&nbsp;&nbsp;Vragenlijsten</a
    >
    <a
      routerLinkActive="active"
      routerLink="/user"
      *ngIf="this.user.user.role == 'SPINE_ADMIN'"
      class="navigation__nav__list__item navigation__nav__list__item__link"
      [ngClass]="{ activeRoute: getRoute() == 'user' }"
      ><i class="bi bi-people-fill vAlignIcon"></i>&nbsp;&nbsp;Gebruikers</a
    >
    <a
      routerLinkActive="active"
      routerLink="/entries"
      *ngIf="this.user.user.role == 'CAREGIVER'"
      class="navigation__nav__list__item navigation__nav__list__item__link"
      [ngClass]="{ activeRoute: getRoute() == 'entries' }"
      ><i class="bi bi-envelope-paper vAlignIcon"></i>&nbsp;&nbsp;Inzendingen
    </a>

    <div *ngIf="this.user" ngbDropdown class="navigation__userProfile">
      <button
        type="button"
        class="btn btn-light"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        {{ this.user.user.name }}&nbsp;&nbsp;<i
          class="bi bi-person-fill vAlignIcon"
        ></i>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Bewerk profiel</button>
        <button (click)="onLogout()" ngbDropdownItem>Uitloggen</button>
      </div>
    </div>
  </div>
</nav>
